.list-inline-dev-icons{
    border: 25px;
    padding: 0;
    margin: 65px;
    font-size: 24pt;
}
.intul{
    border: 25px;
    padding: 0;
    margin: 65px;
    font-size: 24pt;
}
.fa-ul-mb-0{
    font-size: 25pt;
}
.exptxt{
    font-size: 16pt;
}
.edutxt{
    font-size: 22pt;
}